
@font-face {
    font-family: theboldfont;
    src: url(.\fonts\Gotham-Black.otf);
  }

* {

    margin: 0;
    padding: 0;

}


/*contenido completo --> dividido en 2 bloques wrapper up/down  + 1 extra*/

@media (min-width: 370px) {

    .aside {

        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;

    }

    .extra {
        display: none;
    }

    .wrapper {

        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(35deg, yellow,orange);
        overflow: hidden;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        animation:0.5s ease-in-out;
        animation-delay: 0.3seg;
        overflow: hidden;

    }
    /*bloque superior_____________________>*/

    /*titulo*/

    .wrapper-up {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 50%;
    }   

    /*header------*/

    header {
        width: 100%;
        
    }
    .name {

        color: black;
        font-family: 'helvetica';
        font-weight: bolder;
        font-size: 50px;
        line-height: 40px;
        padding: 20px;
    }



    /*input----*/

    .screen { 

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        align-self: center;
        border-bottom: 10px solid black;
        box-sizing: border-box;
        width: 90%;
        height: 50%;
        
    }

    #pre-input {

        background-color: transparent;
        width: 100%;
        height: 50%;
        padding: 10px;
        border: 0px;
        outline: none;
        color: black;
        font-size: 2em;
        font-family: gotham;
        font-weight: bold;
        text-align: right;

    }


    #inputscreen {

        background-color: transparent;
        width: 100%;
        height: 50%;
        padding: 10px;
        border: 0px;
        outline: none;
        color: black;
        font-size: 3em;
        font-family: gotham;
        font-weight: bold;
        text-align: right;

    }

    #inputscreen:enabled {
        
        outline: none;

    }

    #inputscreen:focus:hover {

        border-style: none;
        border: 0px;
        outline: none;

    }

    /*bloque inferior__________________>*/

    .wrapper-down {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 50%;

    }

    /*teclado----*/

    .container {

        display: grid;
        align-content: center;
        justify-content: center;
        grid-gap: 10px;
        grid: repeat(4, 22%)/repeat(4, 22%);
        align-self: center;
        box-sizing: border-box;
        width: 95%;
        height: 70%;

    }
    /*botones*/

    .number {

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        color: black;
        font-family: 'gotham black';
        font-size: 50px;
        font-size: 2em;
        width: 100%;
        height: 100%;
        border: 0px;
        border-bottom: 2px solid black;

    }

    .number:hover {
        font-size: 2.9em;
        outline: none;
        border: 0px;
        transition: 0.1s ease-in-out;
        text-shadow: 2px 2px 5px rgba(2, 2, 2, 0.5);
    }

    .number:enabled {
      
        outline: none;
       
    }

    .down {

        display: flex;
        height: 20%;
        width: 100%;
        

    }

    #down-left {

        width: 50%;
        height: 100%;
    }

    #down-right {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        
    }

    #equal {
        width: 95%;
        height: 90%;
        background-color: transparent;
        font-size: 4em;
        outline: none;
        border: 0px;
    }

    #equal:hover {
        font-size: 6em;
    }

    #equal:enabled {
        width: 95%;
        height: 90%;
        background-color: transparent;
        font-size: 40px;
        outline: none;
        border: 0px;
    }

}

@media (min-width: 812px) {

    .wrapper {
        overflow: hidden;
    }

    .wrapper-up {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
    }

    .screen { 

        display: flex;
        justify-content: center;
        align-items: flex-end;
        align-self: center;
        border-bottom: 10px solid black;
        box-sizing: border-box;
        width: 90%;
        height: 50%;
        
    }
    .wrapper-down {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
    
    }

    .container {
        width: 100%;
        height: 80%;
    }


}

@media (min-width: 813px) {

    .extra {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67%;
        height: 100%;
        overflow: hidden;
    }

    .article-extra {
        width: 90%;
        height: 90%;
        border: 10px solid black;
        overflow: hidden;
    }

    .wrapper-up {
        width: 100%;
        height: 45%;
    }

    .wrapper-down {
        width: 100%;
        height: 45%;
    }

    .aside {
        display: flex;
        align-items: center;
        width: 30%;
        height: 100%;
    }

    .barco {

        width: 90%;
        position: relative;
        bottom: -50px;
        left: 10px;
        mix-blend-mode: multiply;
        z-index: 1;


    }




}