
@font-face {
    font-family: theboldfont;
    src: url(.\fonts\Gotham-Black.otf);
  }


* {

    margin: 0;
    padding: 0;

}

.wrapper {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(35deg, yellow,orange);
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

/*header------*/

header {
    width: 100%;
    
}

/*input----*/

.screen { 

    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-self: center;
    border-bottom: 10px solid black;
    box-sizing: border-box;
    min-width: 345px;
    min-height: 200px;
    margin: 10px;
    
}

#inputscreen {

    background-color: transparent;
    width: 95%;
    height: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    outline: none;

}

#inputscreen:enabled {
    color: black;
    font-size: 30px;
    font-family: gotham;
    font-weight: bold;
    outline: none;

}

#inputscreen:focus:hover {

    border-style: none;
    border: 0px;
    outline: none;

}

/*teclado----*/

.container {

    display: grid;
    align-content: center;
    justify-content: center;
    grid-gap: 10px;
    grid: repeat(4, 22%)/repeat(4, 22%);
    align-self: center;
    box-sizing: border-box;
    width: 100%;
    height: 40%;

}

button {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    font-family: 'gotham black';
    font-size: 50px;
    font-size: 2em;
    width: 100%;
    height: 100%;
    border: 0px;
    border-bottom: 2px solid black;

}

.name {

    color: black;
    font-family: 'helvetica';
    font-weight: bolder;
    font-size: 50px;
    line-height: 40px;
    padding: 8%;
}

.down {

    display: flex;

    height: 10%;
    width: 100%;
    

}

#down-left {

    width: 50%;
    height: 100%;
}

#down-right {

    width: 50%;
    height: 100%;
    
}

