
* {

    margin: 0;
    padding: 0;

}

.wrapper {

    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: red;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

.container {

    width: 90%;
    height: 45%;
    border: 10px solid white;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;

}